<div class="jumbotron">
  <h1>Add Shoes to: <%= @store.name %></h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <h3>Shoe: </h3>
      <% if @store.brands.any?() %>
        <ul>
          <% @store.brands.each do |brand| %>
            <li><a href= '/all_stores_brand/<%= brand.id %>'><%= brand.make %> $<%= '%.2f'% brand.price %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <% if @brands.any?() %>
        <h3>Add these brands to this store:</h3>
        <form action="/add_brand/<%= @store.id() %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="post">
            <% @brands.each() do |brand| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"> <%= brand.make %> $<%= '%.02f' % brand.price %>
                </label>
              </div>
            <% end %>
          </div>
          <button class="btn btn-success" type="submit">Add Brands</button>
        </form>
        <% else %>
          <p>There are no brands yet!</p>
        <% end %>
      </div>
    </div>
  </div>
<h1><a href='/update/store_name'>Update Store Name</a></h1>
<h5><a href='/'>Return To Homepage</h5>
