<div class="jumbotron">
  <h1>Store and Shoe Finder</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card centered">
      <a href="/add_store">Add or Delete a store!</a>
    </div>
    <br>
    <div class="card bottom">
      <% if @stores.any?() %>
      <h3>Here are your stores:</h3>
      <ul>
        <% @stores.each() do |store| %>
          <li><a href="/all_shoes/<%= store.id() %>"><%= store.name() %></a> </li>
        <% end %>
      </ul>
    <% else %>
        <p>There are no stores yet!</p>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card centered">
      <a href="/add_shoes">Add or Delete a shoe brand!</a>
    </div>
    <br>
    <div class="card bottom">
      <% if @brands.any?() %>
      <h3>Here are your Brands:</h3>
      <ul>
        <% @brands.each() do |brand| %>
          <li><a href="/all_stores/<%= brand.id() %>"><%= brand.make() %> $<%= '%.02f' % brand.price %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no Brands yet!</p>
    <% end %>
    </div>
  </div>
</div>
